$title-color:#FFD053;
$title-color-two:#AF8834;
$nav-bar-text:rgb(207,178,86);
$main-dark-brown:#45230C;
$border-color:#705623;
$inner-border-color:#f0d282;
$p-color:#EFEFEF;
$balance_text: #E8D697;
$news-date-color:#888888;
$input-color:#B08734;


$input-size:18px;
$font-size:24px;
$p-title-size:18px;
$p-size:16px;
$remark-size:14px;
$title-size:18px;
$btn-size:16px;
$input-font-size:18px;

$ipad-big-size:36px;
$ipad-font-size:24px;
$ipad-middle-size:21px;
$ipad-btn-size:18px;

$huge-size:2200px;
$large-size:2000px;
$middle-size:1650px;
$mac-size:1280px;
$screen-size:1024px;
$pc-size:769px;
$ipad-size:768px;
$mobile-size:480px;
$iphone-size:375px;
$iphone-se-size:325px;

// @font-face {font-family: "PingFang HK"; src: url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.eot"); src: url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.woff") format("woff"), url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/ee5e0963d4f220cba32a5765cc4f9772.svg#PingFang HK") format("svg"); }


// Import css files
@import "./antd.css";

